--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  <img src="/images/eha.png" style="float:left" /> 
  h1 &nbsp; The DART Laboratory
  p: :markdown
    The Data Science and Research Technology (DART) laboratory at **EcoHealth Alliance (EHA) ** develops high-tech solutions to challenges at the intersection of ecology, computing, and health.
  <p style="float:right"> - Dr. Nico Preston (Director)</p>

// Example row of columns.
.row
  .span6
    h2 Projects
    p Our projects span biosurveillance, data science, web development, digital disease detection, field technologies, information management, virtual laboratories, web development, data mining, statistics, machine learning, and network science.
    p: a.btn(href="pages/hello") View our Projects
  .span6
    h2 Team
    p We are an interdicsiplinary team of data scientists and software developers with expertise in ecology, global health, epidemiology, computer science, biology, interactive telecommunications, social science, and program administration.
    p: a.btn(href="pages/people") Meet our Team
